<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/DataAnalysis-groepje17/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/index.html">World</a></li>
<li><a href="/west-afrika/index.html">West-Afrika</a></li>
<li><a href="/oost-afrika/index.html">Oost-Afrika</a></li>
<li><a href="/zuid-azie/index.html">Zuid-Azië</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
   <li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li>
   </ul>
  </footer>
  </body>

</html>
