<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="DataAnalysis-groepje17/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="DataAnalysis-groepje17/index.html">Home</a></li>
<li><a href="DataAnalysis-groepje17/about/index.html">About</a></li>
<li><a href="DataAnalysis-groepje17/cv/index.html">CV</a></li>
<li><a href="DataAnalysis-groepje17/blog/index.html">Blog</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
   <li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li>
   </ul>
  </footer>
  </body>

</html>
