<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/DataAnalysis-groepje17/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/DataAnalysis-groepje17/index.html">World</a></li>
<li><a href="/DataAnalysis-groepje17/midden-oosten/index.html">Midden-oosten</a></li>
<li><a href="/DataAnalysis-groepje17/west-afrika/index.html">Afrika</a></li>
<li><a href="/DataAnalysis-groepje17/zuid-azie/index.html">Zuid-Azië</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="https://github.com/joshroos/DataAnalysis-groepje17">github.com/joshroos/DataAnalysis-groepje17</a></li>
   </ul>
  </footer>
  </body>

</html>
